body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

img.fullscreenImage {
    width: 100%;
    height: 100%; 
    object-fit:cover;
    display: block;
    position: fixed;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}

p1 {
    text-align: center;
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: left;
    font-family: 'Arial';
    font-weight: bolder;
    font-size: 25px;
    margin-left: 75px;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: left;
    font-family: 'Arial';
    font-weight: normal;
    margin-left: 75px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: -15px;
    overflow: hidden;
    max-width: 12ch;
    text-overflow: ellipsis;
}

ul{
    font-family: 'Arial';
    font-weight: bolder;
    margin-left: 75px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: left;
    padding-left: 67.5px;
    padding-right: 67.5px;
    gap: 10px;
    z-index: 1000;
    flex-wrap: wrap;
    box-sizing: border-box;

    background-color: #ffffff;
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
}

.topblur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 2000;
    pointer-events: none;
    
    background-color: #fefdff;
    outline: #d3d3d3 solid 1.5px;
    filter:blur(15px);

}

.kontoProfile {
    margin-left: 75px;
    float: left;
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 25px;
    border-radius: 125px;
    width: 125px;
    height: 125px;
    object-fit: cover; 
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.474);
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    transition: scale 0.2s;
}

.kontoProfile:hover{
    outline: 1.5px solid rgb(128, 128, 128);
    scale: 105%;
    cursor: grab;
}

.kontoProfile:active{
    scale: 110%;
    cursor: grabbing;
}

.konto {
    text-align: left;
    display: block;
    padding-left: 15px;
    margin-top: 1.5px;
    margin-left: 75px;

    font-family: 'Arial';
    font-weight: bolder;   
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
    cursor: grab;
    font-size: 20px;
    width: 275px;
    height: 50px;
    margin-right: 0px; 

    color: #ffffff;
    background-color: #201f1f;
    background: linear-gradient(135deg, #201f1f, #3b3939);
    outline: 1.5px solid rgb(29, 29, 29);
    animation: buttonGeneral 1s ease-out forwards;
    transition: scale 0.15s;
}

.konto:hover {
    text-align: left;
    display: block;
    padding-left: 15px;
    margin-top: 1.5px;
    margin-left: 75px;  
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    width: 275px;
    height: 50px;
    margin-right: 0px;
    scale: 105%;
    cursor: grab;
    
    color: rgb(255, 255, 255);
    background-color: #000000;
    outline: 1.5px solid rgb(0, 0, 0);
    animation: buttonGeneral 1s ease-out forwards;
    transition: scale 0.15s;
}

.konto:active {
    cursor: grabbing;
    scale: 90%;
}

.topbar button {
    font-family: 'Arial';
    font-weight: bolder;   
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 15px;
    width: auto;
    margin-right: 0px;

    color: rgb(0, 0, 0);
    background-color: #ffffff;
    outline: 1.5px solid rgba(112, 113, 122, 0.185);
    animation: buttonGeneral 0.5s ease-out forwards;
    transition: scale 0.15s;
}

.topbar button:hover {   
    width: auto;
    margin-right: 0px;
    cursor: grab;
    scale: 110%;   
    background-color: #ffffff; 
    outline: 1.5px solid rgba(112, 113, 122, 0.479);
    box-shadow: 0px 0px 10px rgba(142, 144, 196, 0.3);  
}

.topbar button:active {
    cursor: grabbing;
}

#messages{
    text-align: left;
    text-decoration: none; 
    font-family: 'Arial';
    list-style: none;
    font-size: 25px;
    margin-bottom: 125px;
    font-weight:normal;
    border-radius: 35px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px;

    backdrop-filter: blur(15px);
    background-color: #ffffff3a;
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    animation: loadMessages 1s ease-out forwards;

}

#messaage{
    font-family: 'Arial';
    border-radius: 25px;
    padding-left: 15px;
    width: 450px;
    height: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: fixed;
    bottom: 25px; 
    left: 25px; 
    border: none; 
    font-weight:lighter;
    font-size: 17.5px;

    color: #000000;
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    background-color: #ffffff;
    animation: loadInput 0.5s ease-out forwards;
    transition: background-color 0.1s, outline 0.1s, margin 0.1s;

}

#WritingText{
    font-family: 'Arial';
    border-radius: 25px;
    padding-left: 15px;
    width: 250px;
    height: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: fixed;
    bottom: 75px; 
    left: 25px; 
    font-weight:bolder;
    font-size: 17.5px;
    z-index: 2;
    text-align: left;
    color: #000000cf;
}

#messaage:hover {
    outline: 1.5px solid rgb(128, 128, 128);
}

#messaage2{
    font-family: 'Arial';
    position: fixed;
    bottom: 25px; 
    left: 505px; 
    border-radius: 25px;
    margin-left: 2.5px;
    border: none;
    width: 100px;
    height: 45px;
    font-size: 17.5px; 
    font-weight:lighter;
    scale: 100%;
        
    color: #ffffff;
    background-color: #201f1f;
    animation: loadSend 0.6s ease-out forwards;
    transition: background-color 0.1s, outline 0.1s, margin 0.1s, scale 0.2s;
}

#messaage2:hover {
    cursor: grab;
    scale: 110%;
    background-color: #484848;
}

#messaage2:active{
    cursor: grabbing;
}

.senderName{
    color: #000000d5; 
    margin-left: -7.5px;
    font-family: 'Arial';
    font-weight: lighter;
    transition: background-color 0.3s, outline 0.3s, margin 0.3s, scale 0.3s;
}

.senderName:hover{
    color: #000000; 
    cursor: pointer;
}

.senderName:active{
    cursor: grabbing;
}

.timestamp{
    color: #00000072;
    font-family: 'Arial';
    font-weight: bold;

}

.messageHeader {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ffffff00;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 10px;
    padding-bottom: 7.5px;
    margin-left: -15px; 
    animation: openBox 0.35s ease-out forwards;
}

.messageContent {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -5px;
    margin-right: 35px;
    min-height: 25px;
    font-size: 30px;
    word-break: break-word;
    font-size: 25px;
}

.messageItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 35px;
    max-width: max-content;
    border-bottom: 1px solid #00000000;
    
}

.ImageMessage {
    max-width: 850px;
    max-height: 850px;
    min-width: 150px;
    min-height: 150px;
    width: auto;
    height: auto;
    border-radius: 12.5px;
    background-color: #00000000;
    object-fit: cover; 
    margin-top: 0px;
    margin-left: -2.5px;
    margin-right: -2.5px;
    margin-bottom: 0px;
    border-bottom-left-radius: 5px;
    transition: scale 0.3s ease;
}

.content {
    padding: 20px;
    text-align: center;
}

.deleteButton {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.775);
    border: none;
    border-radius: 25px;     
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    transition: background-color 0.3s, outline 0.3s, margin 0.3s, scale 0.3s;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: -2.5px;
    object-fit: cover; 
    scale: 100%;

}

.deleteButton:hover {
    background-color: #ffffff;
    outline: 1.5px solid rgb(128, 128, 128);
    scale: 105%;
    cursor: grab;

}

#deleteButton:active{
    cursor: grabbing;
}

.dropdown {
    font-size: 12.5px;
    font-family: 'Arial';
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 7.5px 10px;
    border-radius: 10px;
    top: 135%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1; 
  
    color: rgba(0, 0, 0, 0.706);
    background-color: rgb(255, 255, 255);
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.button-container {
    position: relative;
    display: inline-block;
}

.button-container:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.profilePic {
    background-color: #ededed;
    text-align: center;
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 25px;
    color: rgb(0, 0, 0);  
    border: none;
    border-radius: 52.5px;     
    transition: background-color 0.3s, outline 0.3s, margin 0.3s, scale 0.3s, filter 0.15s;
    width: 35px;
    height: 35px;
    margin-right: 5.5px;
    margin-left: -2.5px;
    object-fit: cover; 
    outline: none;
}

.profilePic:hover{
    filter: brightness(75%);
    cursor: grab;
}

.profileBadge {
    background-color: #ededed;
    text-align: center;
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 25px;
    color: rgb(0, 0, 0);  
    border: none;
    border-radius: 52.5px;     
    transition: background-color 0.3s, outline 0.3s, margin 0.3s, scale 0.3s, filter 0.15s, box-shadow 0.15s;
    width: 35px;
    height: 35px;
    margin-right: 5.5px;
    margin-left: -2.5px;
    object-fit: cover; 
    outline: none;
}

.profileBadge:hover{
    filter: brightness(75%);
}

br {
    user-select: none;
    cursor: grabbing;
}

#modal {
    position: fixed; 
    inset: 0;
    background: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(1px);
    display: none;           
    align-items: center; 
    justify-content: center;
    z-index: 5;
}

#box {
    background: white;
    padding: 2em;
    width: clamp(250px, 80vw, 400px);
    aspect-ratio: 2.5 / 3;              
    border-radius: 40px;
    outline: 1.5px solid rgba(196, 196, 196, 0.445);
    overflow: auto;
    box-sizing: border-box;
    z-index: 6;
    max-height: 90vh; 
    animation: openBox 0.2s ease-out forwards;
    transition: margin-top 0.1s;
}

#box:hover {
    margin-top: 5px;
}

@media (max-width: 600px) {
  #box {
    width: 90vw;
    aspect-ratio: auto;
    max-height: 80vh;
  }
}

@keyframes openBox {
    from {
        scale: 95%; 
        margin-bottom: 25px;
    }
    to {
        scale: 100%; 
        margin-bottom: 0px;
    }
}

@keyframes buttonGeneral {
    from {
        margin-right: 15px;
    }
    to {
        margin-right: 0px;
    }
}

@keyframes buttonMarginTransition {
    from {
        margin-right: 15px;
    }
    to {
        margin-right: 7.5px;
    }
}

@keyframes loadMessages {
    from {
        filter: blur(5px);
        color: #ffffff00;
    }
    to {
        filter: blur(0px);
        color: #000000;
    }
}

@keyframes loadInput {
    from {
        bottom: -20px; 
    }
    to {
        bottom: 20px; 
    }
}

@keyframes loadSend {
    from {
        bottom: -20px; 
    }
    to {
        bottom: 22px; 
    }
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 25px;
  border: 2.5px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
